.tabsContainer {
    float: right;
    width: 85%;
    height: 100vh;
    position: relative;
    background: #EEE;
    z-Index: -1;
}

.tabList {
    list-style-type: none;
}

.tabPanel {
    padding: 20px;
}

.tab {
    display: inline;
    margin-right: 5px;
}

.menuContainer {
    float: left;
    position: relative;
    height: 100vh;
    background: #CCC;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.87);
    width: 15%;
    z-Index: 0;
}

.button {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.button:hover {
    background: #FFF;
}

.weekend {
    text-align: center;
    background: rgba(100, 255, 100, 0.75);
    padding: 5px;
    border-radius: 5px;
}

.day {
    text-align: center;
}

.warmer {
    text-align: center;
    background: rgba(255, 100, 100, 0.75);
    padding: 5px;
    border-radius: 5px;
}

.sameTemp {
    text-align: center;
}

.colder {
    text-align: center;
    background: rgba(100, 100, 255, 0.75);;
    padding: 5px;
    border-radius: 5px;
}

.submitButton {
    display: block;
    margin-top: 15px;
    background: rgba(100,100,255, 0.75);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.87);
}

.closeModal {
    display: block;
    margin-top: 20px;
}